/*-------  font face ----------*/
@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('../fonts/DroidArabicKufi.woff2') format('woff2'),
    url('../fonts/DroidArabicKufi.woff') format('woff'),
    url('../fonts/DroidArabicKufi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('../fonts/DroidArabicKufi-Bold.woff2') format('woff2'),
    url('../fonts/DroidArabicKufi-Bold.woff') format('woff'),
    url('../fonts/DroidArabicKufi-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* ----- end Font face ---- */
/* --- variables ------ */
:root{
  --orange:#ee7d1c;
  --ar-font:'Droid Arabic Kufi';
  --white-text:#fff;
  --nav-a-size: .875rem;
}
/* ---end  variables ------ */
* {
  box-sizing: border-box;
}
body {
  font-family: var(--ar-font);
}
.sectionPadding {
  padding: 120px 0;
}
h6, p, ul li {
  font-size: .875rem;
}

/* --- header start ---*/
#header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 50;
}
.nav-link{
  font-size:var(--nav-a-size);
}
#contactForm {
  background: var(--orange);
  color: var(--white-text);
  font-size:var(--nav-a-size);
}
section#slider {
  padding-bottom: 60px;
}
/* --- header end ---*/
/* --- services start---- */
.icon-block {
  padding: 35px 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 3px 15px #4c4c4d26;
  background-color: #ffffff;
  text-align: center;
}
.icon-block h3 {
  font-weight: 700;
  font-size: 18px;
  color: #171f3c;
  margin-bottom: 25px;
}
.icon-block img {
  width: 50px;
  margin-bottom: 25px;
  height: auto,;
}
.icon-block.middle {
  margin-top: -20px;
  background-color:var(--orange);
  color:var(--white-text);
}
.icon-block.middle h3{
  color:var(--white-text);
}
/* ----services End---- */
/* ----About start---- */
#about{
  background:var(--orange);
  color:var(--white-text);
}
.aboutTitles{
  margin-bottom: 25px;
}

.aboutTitles h6{
  color:#000;
}
.aboutTitles h3{
  margin-bottom: 25px;
}
.aboutContent p {
  line-height: 2;
}
/* ----About end---- */

/* ----Portfolio start ----- */


/* ----Portfolio end ----- */

/* Customize container */
@media (min-width: 48em) {
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
}
